html, body {
  background-color: #E0E3DA;
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

.Banner_img {
  width: 150px;
  margin-left: 20%;
}

body {
  background-color: #E0E3DA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

form {
  background: #E0E3DA;
  width: 35%;
  height: 85%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: grey;
  border-radius: 10px;
  margin 0 auto;
}
form header {
  background: #E0E3DA;
  height:30%;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}

.id{
      width:50%;
      border:none;
      padding: 5px 20px;
      font-size:1em;
      font-style: oblique;
      display:inline;
      outline:none;
      box-sizing: border-box;
      color:grey;
      border-radius: 3px;
      outline: none;
      border: 1px solid #ccc;
    }

    .return{
      width: 20%;
      align-content:center;
      font-family: inherit;
      color: white;
      display:inline;
      background: #58626C;
      outline: none;
      border: none;
      font-size: 1em;
      font-weight: 350;
      padding: 5px 6px;
      border-radius: 0px;
      box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
      cursor: pointer;
      margin-left:0%;
    }


  form input {
  align-items: center;
  display: block;
  width: 70%;
  margin-left: 15%;
  padding: 5px 20px;
  margin-bottom: 30px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
form .help {
  margin-left: 15%;
  font-size: 0.8em;
  color:grey;
}
.btn1,.btn2 {
  align-items: center;
  position: relative;
  margin: 10px;
  left: 28%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #58626C;
  outline: none;
  border: none;
  width:32%;
  padding: 5px 10px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background:grey;
}
.find {
  left:30%;
  color:#78a6f1;

}
